# Development files
.vscode/**
.vscode-test/**
.github/**
.git/**
.gitignore
.yarnrc
.DS_Store
.npmrc

# Build files
webpack.config.js
tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Output directories
dist/**
**/*.vsix

# Test files
examples/test.md
examples/test.db

# Logs and temp files
*.log
npm-debug.log*
*.tmp
*.temp

